* {
  box-sizing: border-box;
  margin: 0;
}
.black {
  background: #191919;
  color: #f4f4f4;
}
.white {
  background: #f4f4f4;
  color: #333;
}
.center {
  text-align: center;
}
.fa-3x {
  font-size: 3em;
}
.fa-10x {
  font-size: 10em;
}

body {
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.mainContent {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;

  background-color: black;
  background-image: url(https://cdn.pixabay.com/photo/2025/09/19/05/48/mountain-range-9842371_1280.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.mainContent .text {
  max-width: 350px;
  margin: 20px auto;
}
.mainContent .logo {
  height: 180px;
  width: 180px;
}
.mainContent .title {
  font-size: 2.2rem;
  margin-top: 1rem;
}

.sources .case {
  text-align: center;

  display: flex;
  max-width: 960px;
  margin: auto;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2.5rem;
}
.case {
  display: flex;
  gap: 10px;
  
  flex-direction: row;
  align-items: center;
}
.servises {
  display: flex;
  flex: 1;
  max-width: 300px;
  min-width: 250px;
  padding: 4rem 1rem;
  gap: 1rem;

  flex-direction: column;
  align-items: center;
}

.info .aboutUs {
  display: flex;
  width: 100%;
  margin: auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.aboutUs > div {
  display: flex;
  max-width: 300px;
  min-width: 250px;
  padding: 4rem 1rem;
 
  
  flex-direction: column;
  justify-content: center;
}
footer {
  padding: 2.2rem;
}
